*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,a,p, strong{
    font-family: 'Lato', sans-serif;
}
header{
    background-color: #025440;
    height: 100vh;
    color: #fff;
}
.container{
    max-width: 100rem;
    padding: 0 10rem;
   margin: 0 auto;
   color: #FFFFFF;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;  
    font-size: 30px;
    font-weight: bold;
}
.nav-list{
    display: flex;
    gap: 30px;
    font-size: 15px;
    align-items: center;
    list-style: none;
    color: #FFFFFF;
    text-decoration: none;
    
}
.nav li{
    list-style-type: none;
    list-style: none;
    color: #FFFFFF;
}
.hero-section{
    display: flex;
    align-items: center;
}
.hero-section-heading{
    font-size: 50px;
}
.hero-section-p{
    opacity: .8;
    color:#E0E0E0;
}
.rating{
    display: flex;
    align-items: center;
    gap: 5px;
    color:#FFFFFF;
}
.hero-image{
    width: px;
}

section {
    background-color: #FFFFFF;
    height: 20vh;

}

section h2{
    display: flex;
    justify-content: center;
    color: #484848;
    margin-top: 30px;
}

section {
    background-color: #FFFFFF;
    height: 5vh;
}

.group-1{
    display: flex;
    margin: 100px;
    margin-left: 202px;
}

.group-1 p{

    font-family: Lato;
font-size: 20px;
font-weight: 500;
line-height: 29px;
letter-spacing: -0.30px;
color:#7A7A7A;

}

.group-2 p{

    font-family: Lato;
font-size: 20px;
font-weight: 500;
line-height: 29px;
letter-spacing: -0.30px;
color:#7A7A7A;

}

.group-2{
    display: flex;
    margin:100px;
    margin-left: 202px;
}

.cell-1{

    border: 1px solid whitesmoke;
    margin: 0px 5px;
    box-shadow: 0.5px 0.1px 0.5px;
}

.cell-1 p{
    height: 82px;
    width: 239px;

}

.cell-2{
    border: 1px solid whitesmoke;
    margin: 0px 5px;
    box-shadow: 0.5px o.1px 0.5px;
}

.cell-2 p{
    height: 91px;
    width: 264px;


}

.cell-3{
    border: 1px solid whitesmoke;
    margin: 0px 5px;
    box-shadow: 0.5px o.1px 0.5px;
}

.cell-3 p{
    height: 82px;
    width: 239px;


}
.cell-4{
    border: 1px solid whitesmoke;
    margin: 0px 5px;box-shadow: 0.5px o.1px 0.5px;
}

.cell-4 p{
    height: 58px;
    width: 221.1px;

}

.cell-5{
    border: 1px solid whitesmoke;
    margin: 0px 5px;
    box-shadow: 0.5px o.1px 0.5px;
}
.cell-5 p{
    height: 54px;
    width: 236px;
}

.cell-6{
    border: 1px solid whitesmoke;
    margin: 0px 5px;
    box-shadow: 0.5px o.1px 0.5px;
}
.cell-6 p{
    height: 85px;
    width: 286px;


}

section{
    background-color: #FFFFFF;
    height: 50vh;
}


.section-3{
    display: flex;
    margin: 100px;
    justify-content: space-around;
}

.sec-3-text h2{
    font-family: Lato;
    font-size: 48px;
    font-weight: 700;
    line-height: 68px;
    letter-spacing: -0.3050532937049866px;
    height: 205px;
    width: 539px;
    color:#484848;
    
}

.sec-3-text p{
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: -0.3050532937049866px;
    height: 117px;
    width: 382px;
    color: #7A7A7A;
}
.sec-3-text a{
    background: #025440;
    border-radius:7.62633px;
   color: white;
   width: 212px;
   height: 48px;
   font-family: Lato;
   font-size: 14px;
   font-weight: 600;
   line-height: 29px;
   letter-spacing: -0.30px;
   text-decoration: none;
}
.section-4{
    display: flex;
    align-items: center;
    margin: 100px;
    justify-content: space-around;
}

.section-4-text h2{
    height: 213px;
    width: 442px;
    font-family: lato;
    font-size: 48px;
    font-weight: 700;
    line-height: 71px;
    letter-spacing: -0.31683945655822754px;
    color: #484848;
}

.section-4-text p{
    height: 121px;
    width: 463px;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.31683945655822754px;
    color: #7A7A7A;
}
.hip-container{
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: space-between;
    padding: 1rem 8rem 2rem;
}

.section-iv h1{
    font-weight: bold;
    width: 70%;
    line-height: 3rem;
}
.section-iv p{
padding-top: 1rem;
line-height: 1.3rem;

}
.section-iv {
      margin:4rem 0 4rem;

}

.leg-container{
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: space-between;
}

.section-6-text h1{
    width: 70%;
    line-height: 3rem;

}

.section-6-text p{
    padding-top: 1rem;
    line-height: 1.3rem;
}

.section-6-text a{
    background: #025440;
    border-radius:7.62633px;
   color: white;
   width: 212px;
   height: 48px;
   font-family: Lato;
   font-size: 14px;
   font-weight: 600;
   line-height: 29px;
   letter-spacing: -0.30px;
   text-decoration: none;
}

.section-vii{
    line-height: 3rem;
    margin-left: 10rem;
}
.hand-container{
    display: flex;
    justify-content: center;
}

.eye-container{
    width: 100%;
    display: flex;
    height: 100vh;
    justify-content: space-between;

}

.set-1{
        display: flex;
        justify-content: space-around;
        align-items: center;       
        padding-left: 18px;
}

.box-1{
    /* border: 1px solid whitesmoke; */
    /* margin: 0px 5px; */
    /* box-shadow: 0.1px 0.1px 0.1px; */
    /* height: 300.1726379394531px; */
    /* width: 363.29742431640625px; */
    flex: 1;
    /* left: 0px; */
    top: 40.02685546875px;
    border-radius: 8.005331993103027px;
    padding: 20px;

}

.box-1 p{
    /* height: 100px; */
    /* width: 315.5px; */
    color: #7A7A7A;
    text-align: justify;
    line-height: 25px;
}
.top-level{
    margin-top: -5px;
}

/* .box-2{
    border: 1px solid whitesmoke;
    margin: 0px 5px;
    box-shadow: 0.1px 0.1px 0.1px;
} */

.box-2 p{
    height: 99px;
    width: 315.5px;
    color: #7A7A7A;
}
.top-down{
    margin-top: -10px;
}

.box-3{
    border: 1px solid whitesmoke;
    margin: 0px 5px;
    box-shadow: 0.1px 0.1px 0.1px;
}

.box-3 p{
    height: 123px;
    width: 315.52px;
    color: #7A7A7A;
}
.textparagraphbtm{
    padding-bottom: 24px;
}

.top-behind{
    /* margin-top: -10px; */
    padding-top: 10px;
}
.line1padding{
    padding-top: 40px;
}
.box-4{
    border: 1px solid whitesmoke;
    margin: 0px 5px;
    box-shadow: 0.1px 0.1px 0.5px;
}

.box-4 p{
    height: 99px;
    width: 315.52px;
    color: #7A7A7A;
}
.top-front{
    margin-top: -10px;
}
.centerbigtext{
    text-align: center;
    padding: 50px 0;
    font-size:50px;
}
.smallimagesflex{
    display: flex;
    /* gap: 250px; */
    justify-content: space-between;
    align-items: center;
    margin-bottom: -40px;
    z-index:1;
}

.glass-container{
    /* width: 50%; */
    /* display: flex; */
    height:250px;
    background: #0254401A;
    margin: 40px 150px;
    opacity: 0.7;
    /* justify-content: space-between; */
}
.footerflex{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
/* .glass-container{
    text-align: center;
    padding:45px;
    height:400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

.cup-container{
    height:500px;
    background: #0254401A;
    margin: 40px 150px;
    opacity: 0.7;
    padding: 50px;
}

.cup-container h1{
    display: flex;
    margin-left: 40px;
    /* margin-top: 80px; */
    align-items: center;
}
.cup-container p{
    margin-left: 40px;
}
.strong{
    margin-left: 40px;
}
.logo_flex{
    margin-left: 40px;
}

.ip_logo{
    display: flex;
    /* justify-content: space-between; */
}
.glass-container{
    height:300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}
.headcontainer{
    flex: 1;
}
.handsize{
    height: 250px;
    /* float: right; */
    /* padding-top: 60px; */
}
/* 
.imghand-container{
    flex: 1;
} */
.imgnegative{
    margin-left: -10px;
    padding-top: 10px;
}
.plate-countainer{
    height:250vh;
margin: 40px 150px;
opacity: 0.7;
background: #025440;
display: flex;

}

.headpan{
    background-color: #025440;
    height: 100vh;
    display: flex;
    color: #FFFFFF;
}
.spanimgtext{
    display: flex;
    padding: 100px;
}

.gucci{
    display: flex;
}

.bag-section{
    display: flex;
    list-style: none;
    justify-content: space-around;

}
.bag-1{
    display: flex;
}

.right-container{
    display: flex;
}

p.container{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}